@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

#navbar {
    background: #5e227f;
    position: sticky;
    top: 0;
    height: 40px;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    z-index: 1000;
}

#navbar a {
    margin: 0 30px;
    padding: 8px;
    text-decoration-line: none;
    font-size: 29px;
    color: #f8b500;
    font-weight: bolder;
}

#navbar div,
.social-media {
    position: relative;
    z-index: 0;
    padding: 5px;
}

#navbar div:before,
.social-media:before {
    content: '';
    transition: 0.3s;
}

#navbar div:hover:before,
.social-media:hover:before {
    position: absolute;
    width: 80%;
    height: 90%;
    top: -1px;
    left: 15px;
    z-index: -1;
    background: #d22780;
    transform: skewX(3deg) skewY(1.5deg);
}

#navbar div:nth-child(2):hover:before {
    transform: skewX(-1deg) skewY(-2deg);
}

/* th,
td {
    border-style: solid;
    border-width: 5px;
    border-color: #BCBCBC;
    word-wrap: break-word;
} */

.feed_table {
    margin-left: 50px;
    margin-right: 50px;
}

.index1 {
    background: url("/static/image/img2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container1 {
    width: 700px;
    padding: 50px;
    margin: 0 auto;
    margin-top: 10px;

    background: -webkit-linear-gradient(101deg, rgb(36, 148, 248), rgb(183, 28, 239));
    background: linear-gradient(101deg, rgb(36, 148, 248), rgb(183, 28, 239));

    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .5);
}

.input1 {
    display: block;
    width: 400px;
    padding: 8px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: monaco, monospace;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.5);
    outline: 2px solid white;
    outline-offset: 5px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;

}

.fieldset1 {
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 80px;
}

.legend1 {
    text-align: center;
    text-transform: capitalize;
    padding: 8px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.5);
    font-weight: bolder;
    font-size: 1.5em;
}

.input1[type="submit"] {
    display: block;
    width: 420px;
    padding: 10px;
    font-size: 1.1em;
    margin: 40px 0;
    border: 1px solid #ddd;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.5);
    color: white;
    border-radius: 5px;
    outline: 2px solid white;
    outline-offset: 5px;

}

.input1[type="submit"]:hover {
    box-shadow: 0 4px 15px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.input1::placeholder {
    color: white;
}

.input1:focus {
    outline: 2px solid #EF9A9A;
}

.label1 {
    text-transform: capitalize;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.8);
}

.row1 {
    display: flex;
    flex-wrap: wrap;

    cursor: pointer;
    letter-spacing: 2px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.8);
}

.column1 {
    flex: 1;
    margin: 10px;
}